{% extends 'base.html' %}
{% block title %} Город  {% endblock %}
{% block content %}
<h1>Город</h1>

<div class="row">
    <div class="col-md">
        <table class="table table-striped">
            <tr>
                <th>Номер</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Время в пути</th>

            </tr>
            <tr>
                <td>{{object.name}}</td>
                <td>{{object.from_city}}</td>
                <td>{{object.to_city}}</td>
                <td>{{object.travel_time}}</td>
            </tr>
                </p>
        </table>

    </div>
</div>
<div.row><div class="col-md-4">
    <a href="{% url 'trains:home' %}">
        <button type="button" class="btn btn-light">Назад к списку</button>
</div>
{% endblock %}